.cardWrapper {
  width: 280px;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  background-color: #fff8e8;
  border: solid 0.3px #ffe9b7;
  border-radius: 8px;
  height: 80px;
  padding-left: 8px;
  padding-top: 8px;
  display: flex;
  box-shadow: 2px 3px rgba(0, 0, 0, .2);
}
.cardWrapper:hover {
  background-color: #E8D4A7;
  cursor: pointer;
}
.cardWrapper:active {
  background-color: #D1BF96;
}
.image {
  background-color:#36393b;
  width: 72px;
  height: 72px;
  border-radius: 40px;
  margin-right: 8px;
}

.title {
  display: block;
}
.bodyText{
  display: block;
}
h2 {
  font-family: "Ubuntu", sans-serif;
  color: #0b5d1e;
  line-height: 0.4;
}
p {
  font-family: "Cabin", sans-serif;
  line-height: 0.2;
}
